<div class="band">
  <div class="container">
    <div class="ten columns, offset-by-four">
      <%= flash[:notice] %>
      <h2>Login</h2>
        <%= form_tag('/login') do %>
          <%= label_tag :email %>
          <%= text_field_tag :email %>
          <%= label_tag :password %>
          <%= password_field_tag :password %>
          <%= submit_tag "login" %>
        <% end %>
    </div>
  </div> <!-- end container -->
</div>
