<div class="band">
  <div class="container">
      <div class="sixteen columns">
        <h2>Results</h2>
        <p class="select_a_line">Select a line below for more information</p>
        <ul>
        <% @gal4.each do |line| %>
          <div class="four columns">
            <!-- image -->
            <div class="five columns">
              <li><%= label_tag "Line name:"%></li>
                <li><%= link_to "#{line.name}", line %></li>
            </div>
            <div class="five columns">
              <li><%= label_tag "Associated gene:"%></li>
                <li><%= line.gene_symbol %></li>
            </div>
            <div class="five columns">
              <li><%= label_tag "Id:"%></li>
                <li><%= line.id %></li>
            </div>
          </div>
        <% end %>
        </ul>
      </div> <!-- end band -->
  </div> <!-- end container -->
</div>
