<!DOCTYPE html>
<html>
<head>
  <title>ExpressionApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="band">
    <div class="container">
      <div class="sixteen columns">
        <nav>
          <ul>
            <li class="nav_bar"><%= link_to "New Search", '/' %></li>
            <li class="nav_bar"><%= link_to "Login", '/login' %></li>
            <li class="nav_bar"><%= link_to "Dashboard", '/dashboard' %></li>
            <li class="nav_bar"><%= link_to "Logout", '/logout' %></li>
            <li class="nav_bar"><%= link_to "Sign up", '/users/new' %></li>
          </ul>
        </nav>
      </div>
  </div> <!-- end band -->
</div> <!-- end container -->


  <%= yield %>

</body>
</html>
